<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link logo" href="#hero">KK.</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#hero">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://bloggie-blogs.netlify.app/">Blog</a>
    </li>
  </ul>
</nav>

<nav class="mobile-navbar">
  <ul class="mobile-navbar-nav">
    <li class="mobile-nav-item">
      <a class="mobile-nav-link logo" href="#hero">KK.</a>
    </li>
    <!-- <li class="mobile-nav-item">
      <a class="mobile-nav-link" href="#">Menu</a>
    </li> -->
  </ul>
</nav>