---
title: KK | About
layout: 'base.njk'
---


<section class="section aboutContainer w-100 h-100 d-flex align-items-center justify-content-evenly flex-column">
    <h1 class="sectionTitle display-3 overflow-hidden" style="writing-mode: horizontal-tb; color: var(--secondary-color);">About Me</h1>
    <div class="accordion w-75 mx-auto" id="accordionExample" style="margin-bottom: 100px;">
        <div class="accordion-item" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color);>
            <h2 class="accordion-header" id="headingOne">
            <button style="border-bottom: 1px solid var(--secondary-color); color: var(--secondary-color); background-color: var(--primary-color);" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Personal
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <li class="mb-4"> Web Developer with 3+ years of IT experience primarily in Java-based support projects, complemented by strong
hands-on experience in frontend and full-stack web development. Experienced in building modern web and mobile
applications using React, Next.js, and React Native. Adept at automation, monitoring, and cloud-native platforms,
with a strong problem-solving mindset and production support exposure. </li>
            </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color);>
            <h2 class="accordion-header" id="headingTwo">
            <button style="border-bottom: 1px solid var(--secondary-color); color: var(--secondary-color); background-color: var(--primary-color);" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Skills
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                <div class="col">
                <ul>
         <p class="text-decoration-underline fw-bold">Frontend & Web :</p>
         <li> HTML </li>                  
         <li> CSS </li>
         <li> React Js </li>
         <li> Next Js </li>
         <li> Bootstrap </li>
</ul>
<ul>
         <p class="text-decoration-underline fw-bold">Mobile Development :</p>
         <li>React Native</li>                  
         <li>Expo</li>
</ul>
<ul>
         <p class="text-decoration-underline fw-bold">Backend & Database :</p>
         <li>Java</li>                  
         <li>Python</li>
         <li>MySQL</li>
         <li>MongoDB</li>
         <li>Prisma</li>
</ul>

                </div>
                <div class="col">
                    <ul>
         <p class="text-decoration-underline fw-bold">Cloud & DevOps :</p>
         <li>PCF</li>                  
         <li>Azure Red Hat OpenShift (ARO)</li>
</ul>
<ul>
         <p class="text-decoration-underline fw-bold">Monitoring & Tools :</p>
         <li>Dynatrace</li>                  
         <li>Kibana</li>
</ul>
<ul>
         <p class="text-decoration-underline fw-bold">Others :</p>
         <li>Git</li>                  
         <li>REST APIs</li>
         <li>Automation Scripting</li>
</ul>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color);>
            <h2 class="accordion-header" id="headingThree">
            <button style="border-bottom: 1px solid var(--secondary-color); color: var(--secondary-color); background-color: var(--primary-color);" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Education
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body list-unstyled">
                <li class="mb-2">
                <h4 class="m-0">Perunthalaivar Kamarajar Institute of Engineering and Technology</h4>
                <p class="m-0">2017-2021</p>
                <p class="m-0">B.Tech Electronics and Communication Engineering</p>
                <h4 class="m-0">7.5 CGPA</h4>
                </li>
                <li class="mb-2">
                <h4 class="m-0">Stansford International Higher Secondary School</h4>
                <p class="m-0">2015-2017</p>
                <p class="m-0">Higher secondary (+2)</p>
                <h4 class="m-0">82.58%</h4>
                </li>
                <li class="mb-2">
                <h4 class="m-0">Stansford International Higher Secondary School</h4>
                <p class="m-0">2014-2015</p>
                <p class="m-0">SSLC (10th)</p>
                <h4 class="m-0">97.2%</h4>
                </li>
            </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color);>
            <h2 class="accordion-header" id="headingFour">
            <button style="border-bottom: 1px solid var(--secondary-color); color: var(--secondary-color); background-color: var(--primary-color);" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Work Experience
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {%- for work in collections.works -%}
                    <li class="mb-2">
                        <h3 class="m-0">{{ work.data.companyName }}</h3>
                        <p class="m-0">{{ work.data.title }}</p>
                        <p class="m-0">{{ work.data.startDate }} &nbsp; - &nbsp; <span>{{ work.data.endDate }}</span></p>
                        <p class="m-0">{{ work.data.description }}</p>
                    </li>
                {%- endfor %}
            </div>
            </div>
        </div>
        <div class="accordion-item" style="background-color: var(--primary-color); border: 1px solid var(--secondary-color);>
            <h2 class="accordion-header" id="headingFive">
            <button style="border-bottom: 1px solid var(--secondary-color); color: var(--secondary-color); background-color: var(--primary-color);" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Hobbies
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">ening To Musics </li>
                <li class="mb-4"> Creating some Animations Using Blender </li>
            </div>
            </div>
        </div>
    </div>
</section>
