---
title: Home
layout: 'base.njk'
---


<main class="main" data-barba="container" data-barba-namespace="home">
    <div class="text gsap">
        <h2>Hi!</h2>
        <h1>I'm <span>KEERTHIVASAN</span></h1>
        <h4>Web developer, Software developer</h4>
        <a href="/about">About Me</a>
    </div>
    <div class="image">
        <img src="/assets/img/welcome.png" alt="welcome image">
    </div>
</main>