---
title: KK | Home
layout: 'base.njk'
---


<section class="section gsapSection home d-flex align-items-center justify-content-center transition-fade position-relative flex-column" id="swup">
    <div class="row w-85 h-100" data-aos="fade-down" data-aos-offset="500" data-aos-easing="ease-in-sine">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column align-items-center justify-content-center ps-5 position-relative">
            <h2 class="display-2" style="z-index: 100;">Hi!</h2>
            <h1 style="z-index: 2;" class="display-5 text-center">I'm <span class="display-1" style="text-decoration: underline; z-index: 1000; color: var(--accent-color-2);">KEERTHIVASAN</span></h1>
            <h5 style="z-index: 100;">Web developer, Software developer</h5>
            <a href="/about" class="btn-styled">About Me</a>
        </div>
    </div>
    <span class="circle"></span>
    <div class="themes">
        <button class="theme one" onclick="setTheme('dark')" data-bs-toggle="tooltip" data-bs-placement="top" title="Dark blue"></button>
        <button class="theme two" onclick="setTheme('white')" data-bs-toggle="tooltip" data-bs-placement="top" title="Sandal"></button>
        <button class="theme three" onclick="setTheme('blue')" data-bs-toggle="tooltip" data-bs-placement="top" title="Blue"></button>
        <button class="theme four" onclick="setTheme('darkBlue')" data-bs-toggle="tooltip" data-bs-placement="top" title="Medium blue"></button>
        <button class="theme five" onclick="setTheme('purple')" data-bs-toggle="tooltip" data-bs-placement="top" title="Purple"></button>
    </div>
</section>


<section class="section gsapSection about d-flex align-items-center justify-content-center">
    <div class="row w-85 h-100" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-12 d-flex flex-column align-items-start justify-content-center ps-5 position-relative container">
            <p class="lead p-4 w-75" style="font-size: 1.6em;">This is KEERTHIVASAN. I am a software developer and web developer. Persuving B.Tech in electronics and Communication Engineering</p>
            <a href="/about" class="btn-styled-1">About Me</a>
        </div>
    </div>
    <h1 class="sectionTitle display-3" data-aos="flip-right" data-aos-offset="300" data-aos-easing="ease-in-sine">About Me</h1>
</section>


<section class="section gsapSection project d-flex align-items-center justify-content-center">
    <h1 class="sectionTitle projectTitle display-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine">Projects</h1>
    <div class="row w-85 h-100" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-12 d-flex flex-column align-items-start justify-content-center ps-5 position-relative container">
            <p class="w-75 mx-auto display-6">Here are some of my projects which is created</p>
            <a href="/projects" class="btn-styled mx-auto">Go to projects page</a>
        </div>
    </div>
</section>


<section class="section gsapSection contact d-flex align-items-center justify-content-center">
    <div class="row w-85" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-lg-4 col-md-12 text-center">
            <a href="https://www.linkedin.com/in/keerthivasan-k-b8476018b/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                <i class="fab fa-linkedin display-4" style="color: var(--primary-color);"></i>
                <p class="display-5" style="color: var(--accent-color-1);">Linkedin</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <a href="https://github.com/smartkeerthi" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                <i class="fab fa-github display-4" style="color: var(--primary-color);"></i>
                <p class="display-5" style="color: var(--accent-color-1);">Github</p>
            </a>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <a href="https://www.youtube.com/channel/UCe4IttsqYUKjG_6Sdk_jlMw" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                <i class="fab fa-youtube display-4" style="color: var(--primary-color);"></i>
                <p class="display-5" style="color: var(--accent-color-1);">YouTube</p>
            </a>
        </div>
    </div>
    <h1 class="sectionTitle contactTitle display-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine">Contact</h1>
</section>

<footer>
    <p>Copyright &#169; | Keerthivasan 2021</p>
</footer>