:root {
    --text-color-dark: hsl(248, 80%, 57%);
    --text-color-light: hsl(248, 97%, 74%);
    --background-color-nav: hsl(60, 100%, 88%);
    --background-color: hsl(60, 56%, 91%);
    --scroll-color: hsl(60, 100%, 97%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--text-color-light);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color-light);
    border-radius: 20px;
    border: 2px solid var(--background-color);
}

.w-85 {
    width: 85%;
}

/* Navbar */

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-nav) !important;
    z-index: 1000;
}

.navbar-brand {
    color: var(--text-color-dark) !important;
    font-weight: 700;
    padding-bottom: 0px !important;
    border-bottom: 2px solid var(--text-color-dark);
}

.nav-link {
    font-weight: 500;
    color: var(--text-color-light) !important;
}

.nav-link:hover {
    color: var(--text-color-dark) !important;
}

.section {
    width: 100vw;
    height: 100vh;
    padding-top: 4rem;
    position: sticky;
}

/* section home */

.home {
    background-color: var(--background-color);
}

.btn-styled {
    padding: 10px 20px;
    border: 2px solid var(--text-color-dark);
    color: var(--text-color-dark);
    transition: 0.3s all ease;
    margin-top: 2em;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.btn-styled:hover {
    background-color: var(--text-color-dark);
    color: #fff;
}

.backdrop {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsla(248, 97%, 74%, 0.3);
    font-size: 5em;
}

.column-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* about section */

.about {
    background-color: #fff;
}

.sectionTitle {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    color: var(--text-color-dark);
}

/* project section */

.project {
    background-color: var(--background-color);
}

.projectTitle {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

@media screen and (max-width: 1000px) {
    .column-right {
        display: none !important;
    }
}